
.webinar-grid {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .link-block {
    position: relative;
    width: 30%;
    min-height: 400px;
    text-align: center;
    margin: 20px auto;
    background-color: #000000;
    box-shadow: 0 1px 3px rgb(255, 255, 255), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
    border-radius: 5px 5px 0 0;
    text-decoration: none;
  }
  
  .link-block:hover {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .link-block .dundas-blue-link {
    background: rgb(255, 255, 255);
    border: solid 1px rgb(255, 255, 255);
    padding: 8px 25px;
    color: rgb(0, 0, 0)!important;
    width: auto;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
  }
  
  .link-block .dundas-blue-link:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255)!important;
  }
  
  .link-block .webinar-image-container {
    width: 100%;
    height: 150px;
    position: relative;
    top: 0;
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    z-index: 200;
  }
  
  .link-block:hover .webinar-image-container {
    top: -20px;
  }
  
  .link-block .dundas-blue-text-long {
    position: absolute;
    top: 180px;
    transition: all 0.8s cubic-bezier(.25, .8, .25, 1);
    background-color: #000000;
    text-align: center;
    z-index: 100;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
    padding: 0 10px;
    opacity: 1;
  }
  
  .link-block:hover .dundas-blue-text-long {
    top: -20px;
    opacity: 0;
  }
  
  .link-block h2 {
    position: absolute;
  }
  
  .link-block .webinar-content-box {
    position: relative;
    padding: 20px;
  bottom: 21px;
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
    opacity: 0;
  }
  
  .link-block:hover .webinar-content-box {
    top: 25px;
    opacity: 1;
  }
  
  .webinar-content-box p {
    padding: 0 0 20px 0;
    color: #6a6a6a;
  }
  
  .webinar-content-box a {
    text-decoration: none!important;
  }
  
  .webinar-image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  
  .archive {
    display: none;
  }
  
  

  @media only screen and (min-width: 569px) and (max-width: 880px) {
    .link-block {
      position: relative;
      width: 45%;
      max-width: 330px;
    }
    .link-block .dundas-blue-text-long {
      font-size: 22px;
    }
  }
  
  